* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0px auto;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
main {
  background-color: #fdfdfd;
}
nav {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 100px;
  background-color: #ffffff;
  padding: 20px 10px;
}

li a.active {
  background-color: #fcb414;
  color: white;
}

nav h2 {
  color: #fcb414;
  font-weight: bold;
  font-size: 30px;
}
ul {
  display: flex;
  list-style-type: none;
}
li a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* banner section */
.banner-container {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  align-items: center;
}

.banner-heading {
  color: #fcb414;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-btn {
  padding: 10px;
  background-color: #fcb414;
  color: white;
  border: none;
  border-radius: 8px;
}

.baaner-img {
  width: 400px;
}

/* about-us-section */

.about-us-container {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.sub-heading {
  color: #fcb414;
  margin-bottom: 10px;
}

.about-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-img {
  width: 350px;
  height: 350px;
  border-radius: 8px;
}

/* menu-section */
.menu-text {
  text-align: center;
  margin-top: 100px;
}

.card-container {
  display: flex;
  flex-wrap: nowrap;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 350px;
  height: 300px;
  padding: 10px;

  text-align: center;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  position: relative;
}

.menu-icon {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 10px;
  padding: 5px 10px;
  background-color: #fcb414;
  border-radius: 5px;
}

.menu-img {
  width: 200px;
  margin-bottom: 15px;
}

/* service-section */

#service {
  margin-top: 150px;
}

.service-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.service-card {
  width: 400px;
  height: 200px;
  text-align: center;
}

.service-text {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.fa-icon {
  color: #fcb414;
  font-size: 40px;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* footer-section */

.footer-container {
  display: flex;
  margin-top: 60px;
}

.footer-text {
  margin-bottom: 15px;
}

.social-icon {
  display: block;
  margin-top: 10px;
}

.copyright {
  display: block;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
