* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0px auto;
}
nav {
  display: flex;
  gap: 100px;
  /* justify-content: space-between; */
  background-color: #ffffff;
  padding: 20px 10px;
}

li a.active {
  background-color: #04aa6b;
  color: white;
}

nav h2 {
  color: #fcb414;
  font-weight: bold;
}
ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
}
li a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 8px;
}

li a:hover:not(.active),
.dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

/* banner section */
.banner-container {
  margin-top: 40px;
  display: flex;
  gap: 100px;
  /* justify-items: center;
  justify-content: center; */
  align-items: center;
}

.banner-heading {
  color: #fcb414;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-text {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner-btn {
  padding: 10px;
  background-color: #fcb414;
  color: white;
  border: none;
  border-radius: 8px;
}

.baaner-img {
  width: 400px;
}

/* about-us-section */

.about-us-container {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.sub-heading {
  color: #fcb414;
  margin-bottom: 10px;
}

.about-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.about-img {
  width: 350px;
  height: 350px;
}

/* menu-section */
.menu-text {
  text-align: center;
  margin-top: 50px;
}

.card-container {
  display: flex;

  flex-wrap: nowrap;
}

.menu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  width: 350px;
  height: 300px;
  padding: 10px;

  text-align: center;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.menu-img {
  width: 200px;
  margin-bottom: 15px;
}
